<!DOCTYPE html>
<html lang="en" ng-app="cfApp">
<head>
	<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/angular_material/0.8.3/angular-material.min.css" />
	<link rel="stylesheet" href="/css/style.css" />
	<script src="/parse/dist/parse.min.js"></script>
	<script type="application/javascript">
		//Parse Initialization
		Parse.initialize('<%= process.env.PARSECFAPP || 'token123456' %>');
		Parse.serverURL = '<%= process.env.PARSECFURL || 'http://localhost:1338/parse' %>';
	</script>

</head>
<body layout="row" ng-controller="AppCtrl">

<div layout="column" class="relative" layout-fill role="main">
	<md-toolbar ng-show="!showSearch">
		<div class="md-toolbar-tools">
			<h3>
				Currency Fair Trades
			</h3>
			<span flex></span>
		</div>
		<md-tabs md-stretch-tabs class="md-primary" md-selected="data.selectedIndex">
			<md-tab id="tab1" aria-controls="tab1-content">
				Trades
			</md-tab>
			<md-tab id="tab2" aria-controls="tab2-content">
				Country Rates Stats
			</md-tab>
		</md-tabs>
	</md-toolbar>
	<md-content flex md-scroll-y>
		<ui-view layout="column" layout-fill layout-padding>
			<div class="inset" hide-sm></div>
			<ng-switch on="data.selectedIndex" class="tabpanel-container">
				<div role="tabpanel"
					 id="tab1-content"
					 aria-labelledby="tab1"
					 ng-switch-when="0"
					 md-swipe-left="next()"
					 md-swipe-right="previous()"
					 layout="row" layout-align="center center">

					<md-card flex-gt-sm="90" flex-gt-md="80">
						<md-card-content>
							<h2>Search</h2>
							<div layout="row" layout-align="space-between center">
								<span>Currency From</span>
								<md-select ng-model="tradesearch.currencyFrom">
									<md-option ng-repeat="currency in currencies" ng-value="currency">
										{{ currency }}
									</md-option>
								</md-select>
							</div>
							<md-divider></md-divider>
							<div layout="row" layout-align="space-between center">
								<span>Currency To</span>
								<md-select ng-model="tradesearch.currencyTo">
									<md-option ng-repeat="currency in currencies" ng-value="currency">
										{{ currency }}
									</md-option>
								</md-select>
							</div>
							<md-divider></md-divider>
							<div layout="row" layout-align="space-between center">
								<span>Originating Country</span>
								<md-select ng-model="tradesearch.originatingCountry">
									<md-option ng-repeat="country in countries" ng-value="country">
										{{ country }}
									</md-option>
								</md-select>
							</div>
							<md-divider></md-divider>
							<div layout="row" layout-align="space-between center">
								<span></span>
								<md-button class="md-primary" ng-click="doTradeSearch()">Search</md-button>
							</div>
						</md-card-content>
						<md-card-content>

							<h2>Activity</h2>
							<table class="md-table">
								<thead>
									<tr>
										<th class="md-table-header">User Id</th>
										<th class="md-table-header">Currency From</th>
										<th class="md-table-header">Currency To</th>
										<th class="md-table-header">Amount Sell</th>
										<th class="md-table-header">Amount Buy</th>
										<th class="md-table-header">Rate</th>
										<th class="md-table-header">Time Placed</th>
										<th class="md-table-header">Originating Country</th>

									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="item in trades">
										<td class="md-table-col" ng-bind="item.userId"></td>
										<td class="md-table-col" ng-bind="item.currencyFrom"></td>
										<td class="md-table-col" ng-bind="item.currencyTo"></td>
										<td class="md-table-col" ng-bind="item.amountSell"></td>
										<td class="md-table-col" ng-bind="item.amountBuy"></td>
										<td class="md-table-col" ng-bind="item.rate"></td>
										<td class="md-table-col" ng-bind="item.timePlaced"></td>
										<td class="md-table-col" ng-bind="item.originatingCountry"></td>
									</tr>
								</tbody>
							</table>
						</md-card-content>
					</md-card>
				</div>
				<div role="tabpanel"
					 id="tab2-content"
					 aria-labelledby="tab2"
					 ng-switch-when="1"
					 md-swipe-left="next()"
					 md-swipe-right="previous()"
					 layout="row" layout-align="center center">
					<md-card flex-gt-sm="90" flex-gt-md="80">
						<md-card-content>
							<div layout="row" layout-align="space-between center">
								<span>Select Currencies</span>
								<md-select ng-model="ratekey" ng-change="ratekeyChanged(this)">
									<md-option ng-repeat="key in ratecurrencies" ng-value="key">
										{{ key }}
									</md-option>
								</md-select>
							</div>
						</md-card-content>
						<md-card-content>
							<canvas id="bar"
									class="chart chart-bar"
									chart-data="chartdata"
									chart-labels="chartlabels"
									chart-series="chartseries"
							>
							</canvas>
						</md-card-content>
					</md-card>
				</div>

			</ng-switch>

		</ui-view>
	</md-content>
</div>
<script src="/chart.js/dist/Chart.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular-animate.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular-aria.min.js"></script>

<script src="//ajax.googleapis.com/ajax/libs/angular_material/0.8.3/angular-material.min.js"></script>

<script src="//cdn.jsdelivr.net/angular-material-icons/0.4.0/angular-material-icons.min.js"></script>

<script src="/angular-chart.js/dist/angular-chart.min.js"></script>
<script src="/app/app.js"></script>
<script src="/app/services/parse.js"></script>

</body>
</html>